.container {
    width: 80%;
    margin: 0 auto;
}

/* Heading styles */
h1 {
    color: #304d6d;
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #08bdbd;
    margin-top: 20px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fdf0d5;
    border-radius: 12px;
    overflow: hidden;
}

thead {
    background-color: #304d6d;
    color: #fdf0d5;
}

th, td {
    padding: 10px;
    border: 1px solid #100c0b;
    text-align: left;
}

tbody tr {
    background-color: #08bdbd;
    color: #100c0b;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: 0 auto;
}

input.new-user {
    width: 80%;
    padding: 10px;
    background-color: #fff5e8;
    border: 1px solid #08bdbd;
    border-radius: 12px;
    margin-bottom: 15px;
}
textarea.new-user {
    width: 80%;
    padding: 10px;
    background-color: #fff5e8;
    border: 1px solid #08bdbd;
    border-radius: 12px;
    margin-bottom: 15px;
}


/* Edit user input styles */
input.edit-user {
    width: 90%;
    padding: 10px;
    background-color: #fff5e8;
    border: 1px solid #08bdbd;
    border-radius: 12px;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* Button styles */
button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

button.edit {
    background-color: #08bdbd;
    color: #100c0b;
}

button.delete {
    background-color: #da3e52;
    color: #fdf0d5;
}

button.save {
    background-color: #da3e52;
    color: #fdf0d5;
    margin-right: 5px;
}

button.cancel {
    background-color: #304d6d;
    color: #fdf0d5;
}

button:hover {
    transform: scale(1.05);
}

body {
    background-color: #fdf0d5;
    color: #100c0b;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}